<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673014949558-jctpjso4mdm2lhd38pu7rhherf1902i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673014949558-jctpjso4mdm2lhd38pu7rhherf1902i4</string>
	<key>API_KEY</key>
	<string>AIzaSyABQVMXELUM5Y6Gp11OAmJrwtt46lVLbZU</string>
	<key>GCM_SENDER_ID</key>
	<string>673014949558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kitahack2025</string>
	<key>PROJECT_ID</key>
	<string>kitahack2025-adf56</string>
	<key>STORAGE_BUCKET</key>
	<string>kitahack2025-adf56.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673014949558:ios:3a7efe2b79a98a8adb2817</string>
	<key>DATABASE_URL</key>
	<string>https://kitahack2025-adf56-default-rtdb.firebaseio.com</string>
</dict>
</plist>